.dropdown {
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5em;
    font-size: 18px;
  }

  .select-styling{
    height: 39px;
    padding: 0.25rem 1rem;
    font-size: 16px;

  }

  .dropdown-label {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
  }

  .dropdown-container{
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
  }