
.heading {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
}.team-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.team-table th, .team-table td {
    border: 1px solid  #f9f9f9;
    padding: 8px;
    background-color: #f9f9f9;
    padding-left: 10px;

}

.team-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.team-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.team-table:hover {
    box-shadow: 0 4px 8px rgba(52, 255, 1, 0.2);
}