<div class="account-table-container">
    <table *ngIf="productData.length" class="table">
      <thead>
        <tr>
          <th *ngFor="let key of keys | keyvalue">{{ key.value  | capitalizeFirst }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows"> 
            <td *ngFor="let value of row">{{ value }}</td> 
        </tr>
      </tbody>
    </table>
    <h2 class="prompt" *ngIf="productData.length == 0">
      Select a product category to view products
    </h2>
  </div>